<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Peuco</title>


  <!-- fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Quicksand:wght@300;400&display=swap"
    rel="stylesheet">

  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!--css -->
  <link rel="stylesheet" href="styles.css">
</head>



<body class="bg-fondo">
  <!-- navigator -->

  <%- include('nav'); -%>

  <!-- ------- -->

  <div id="home" class="container-body bgImgPortada">
    <div class="bg-capa-blanca">


      <div class="container-body-title">
        <img class="logo-portada" src="./peuco-logo.svg"><br>
        <a class="btn btn-light btn-lg button-primary" href="#productos">Productos</a>
      </div>

    </div>
  </div>

  <div id="nosotros" class=" container-body-queHacemos  ">
    <div class="container container-fluid ">


      <div class="row media">
        <div class="col-md-6 media-body ">
          <div id="carouselExampleSlidesOnly" class="carousel slide " data-ride="carousel">
            <div class="carousel-inner ">
              <div class="carousel-item active">
                <img class="d-block img-nosotros"
                  src="https://storage.googleapis.com/peuco-3530c.appspot.com/quien%20soy/IMG_9924.jpg" alt="Imagen 1">
              </div>
              <div class="carousel-item">
                <img class="d-block img-nosotros"
                  src="https://storage.googleapis.com/peuco-3530c.appspot.com/quien%20soy/IMG_9937.jpg" alt="Imagen 2">
              </div>
              <div class="carousel-item">
                <img class="d-block img-nosotros"
                  src="https://storage.googleapis.com/peuco-3530c.appspot.com/quien%20soy/_MG_0071.jpg" alt="Imagen 3">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 align-self-center mr-3">
          <hr class="line">
          <h3>Amor por la madera</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
          <hr class="line">
        </div>

      </div>
    </div>
  </div>


  <div class="scroll" id="productos">
    <div class="container text-center">
      <hr class="line">
      <h2>Nuestros Productos</h2>
      <hr class="line">


      <div class="row">
        <% items.map((item)=>{ %>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card card-spacing caja-verde">
            <img class="card-img-top product-img" data-toggle="modal" data-target="#detalles<%= item.id %>"
              src="<%= item.img %>" alt="<%= item.nombre %>">
            <div class="card-body">
              <h4 class="card-title" id="articulo<%= item.id %>"><%= item.nombre %></h4>

              <a class="btn btn-light button-secondary" data-toggle="modal"
                data-target="#detalles<%= item.id %>">Detalles</a>

              <a data-toggle="modal" onclick="modifyText(<%= item.id %>,'<%= item.categoria %>' )" data-target="#formPedido"
                class="btn btn-light button-secondary">Haz tu Pedido</a>
            </div>
          </div>
        </div>



        <!-- modal <%= item.nombre %> -->
        <%- include('modalProducto', {item:item}); -%>
        <!-- --------------------- -->


        <% }) %>
      </div>
    </div>


    <!-- Modal de Mensaje -->
    <%- include('modalForm'); -%>
    <!-- ------------------- -->

  </div>


  <footer>
    <div id="contacto" class="footer-container bg-footer">
      <div class="bg-capa-negra">


        <div class="container">
          <div class="row">
            <div class="col-6 text-center contacto-container">
              <hr class="line ">
              <p>Para Encargos </p>
              <p>Numero de telefono</p>
              <p>lobospablo@gmail.com</p>
              <a data-toggle="modal" data-target="#mensaje" class="btn btn-light btn-lg button-primary">Escríbenos</a>
              <hr class="line">

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright text-center">
      <p>Peuco 2020</p>
    </div>
  </footer>
</body>





<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="js/scroll.js" type="text/javascript"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>




<script src="js/modifyTextarea.js"></script>

<script src="js/modal.js"></script>

</html>